*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    display: flex;
    justify-content: center;
}
.container{
    max-width: 1200px;
    display: flex;
    flex-direction: row-reverse;
}
.greenbox{
    background-color: green;
    width: 200px;
    height: 200px;
}
.bluebox{
    background-color: blue;
    width: 200px;
    height: 200px;
}
.redbox{
    background-color: red;
    width: 200px;
    height: 200px;
}
.whitebox{
    background-color: white;
    width: 200px;
    height: 200px;
}